.wtf{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex: auto;
    justify-content: center;
    background-color: whitesmoke;
    height: 80px;
    padding: 10px;
}

.participants{
    padding: 20px;
}

.mic{
    padding: 20px;
}

.leave-call{
    padding: 20px;
}