.container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display:flex;
    border: 1px solid black;
    margin-right: 10%;
    width: 850px;
    background-color: black;
}

.image-container{
    height: 500px;
    
}

form{
    margin-left: 20%;
    margin-top: 25%;
    text-align: center;
    
}

input{
    width: 375px;
    height: 25px;
    margin: 3px;
    
}

label{
    color: aliceblue;
}

button{
    width: 370px;
    margin: 10px;
    height: 35px;
    border-radius: 30px;
    background-color: red;
    color: antiquewhite;
    justify-content: center;
    text-align: center;
    
}





