.mic{
  cursor: pointer;
  background-color:red;
}

.room_body{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: row;
  overflow: hidden;
}

.left_window{
  flex: 0.6;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.mic{
  /* background-color:black!important;
  width:50px!important;
  height: 50px!important; */
  border: none;
  background-color: transparent!important;
  padding-bottom: 50px;
}
.right{
  flex: 0.4;
  overflow-y:scroll; 
}

.type{
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
}